.bookRow {
	width: 100%;
	display: inline-flex;
	gap: 4%;
	flex-direction: row;
	color: #000;
	margin-bottom: 1rem;

	.bookItem {
		cursor: pointer;

		img {
			border: 2px solid black;
			width: 100%;
			aspect-ratio: 1 / 1.5;
			object-fit: cover;
		}

		.bookTitle {
			margin: 0;
		}
	}
}
