.bookRow {
	width: 100%;
	display: inline-flex;
	gap: 4%;
	flex-direction: row;
	color: #000;
	margin-bottom: 1rem;

	.bookItem {
		width: 20%;

		cursor: pointer;

		img {
			border: 2px solid black;
			width: 100%;
		}

		.bookTitle {
			margin: 0;
		}
	}
}
